.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.movieItem {
  text-align: center;
  width: 150px;
}

.moviePoster {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
}
